* {
    margin: 0;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #27282d;

}

main {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

textarea {
    color: black;
    margin-bottom: 14px;
}

.title {
    font-weight: normal;
    border-bottom: 4px solid #ba9c60;
    font-size: 48px;
    margin-bottom: 24px;
}

.right-hover {
    position: absolute;
    right: 110px;
}

.gray-box {
    background-color: #1e1e1e;
    padding: 24px;
}

/* BUTTONS */

.button {
    cursor: pointer;
    z-index: 3;
    text-shadow: initial;
    font-size: 32px;
    padding: 4px 24px;
    background-color: #ba9c60;
    border: 4px solid #ba9c60;
    margin-right: 14px;
}

.button--secondary {
    background-color: unset;
}

.button--small {
    font-size: 18px;
}

.button:hover {
    filter: grayscale();
}

.active {
    color: #ba9c60;
}

.active i {
    color: #ba9c60;
}

.text-input {
    padding: 8px;
    color: black;
    font-size: 18px;
}

/* HEADER */

#header {
    width: 100%;
    background-color: #000000;
    border-bottom: 1px solid #ba9c60;
}

#header nav ul {
    display: flex;
    list-style: none;
    padding: 24px;
    flex-wrap: wrap;
}

#header nav ul li {
    margin: 8px 0;
}

#header nav ul li a {
    margin: 0 24px;
}

#header nav ul li a:hover {
    color: #ba9c60;
}

#header nav ul li a:hover i {
    color: #ba9c60;
}

/* WELCOME */

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/coffeeshop2.jpg");
    font-size: 48px;
    text-shadow: 0 0 10px black;
}

#welcome h1 {
    font-size: 48px;
    font-weight: normal;
}

#welcome .coffee-icon {
    display: flex;
    align-items: center;
    font-size: 72px;
}

#welcome .coffee-icon img {
    margin: 0 72px;
}

/* OUR COFFEE */

#our-coffee {
    padding: 48px 120px;
}

#our-coffee .coffee-information p:first-child {
    margin-bottom: 24px;
}

#our-coffee .call-to-action {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* PRODUCTS */

#products {
    padding: 48px 120px;
}

#products .product-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

#products .product-list .product-card {
    padding: 14px;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

/* FIND A STORE */

#find-a-store {
    padding: 48px 120px;
}

#find-a-store .searchbar {
    margin-bottom: 24px;
}

#find-a-store .searchbar .search-input {
    margin-right: 24px;
    padding: 8px;
    color: black;
    font-size: 18px;
}

/* CONTACT US */

#contact-us {
    padding: 48px 120px;
}

#contact-us .contact-boxes {
    display: flex;
}

#contact-us .contact-boxes .contact-form {
    display: flex;
    color: black;
    flex-direction: column;
    width: 30%;
    margin-right: 48px;
}

#contact-us .contact-boxes .contact-form input {
    margin-bottom: 14px;
}

#contact-us .contact-boxes .contact-data {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    height: fit-content;
}

#contact-us .contact-boxes .contact-data  a {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
}

#contact-us .contact-boxes .contact-data  a:hover {
    filter: grayscale();
}

#contact-us .contact-boxes .contact-data  i {
    margin-right: 18px;
    font-size: 48px;
    color: #ba9c60;
}

/* FOOTER */

#footer {
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #ba9c60;
    background-color: black;
}

#footer .copyright {
    margin-bottom: 24px;
}

#footer .footer-contact {
    display: flex;
    width: 20%;
    justify-content: space-around;
}

#footer .footer-contact a {
    font-size: 48px;
    margin-left: 8px;
}

#footer .footer-contact a:hover {
    filter: grayscale();
}

#footer .footer-contact a i {
    color: #ba9c60;
}

@media only screen and (max-width: 1024px) {
    #our-coffee .call-to-action {
        flex-direction: column;
    }

    #our-coffee .call-to-action a {
        margin-bottom: 48px;
        width: 80%;
    }

    #our-coffee .call-to-action .right-hover {
        display: none;
    }

    #contact-us .contact-boxes {
        flex-direction: column;
        row-gap: 20px;
    }

    #contact-us .contact-boxes .contact-form {
        width: initial;
        margin-right: 0;
    }
}

@media only screen and (max-width: 480px) {
    #header nav ul {
        flex-direction: column;
        font-size: 24px;
    }

    #header nav ul li {
        margin-bottom: 12px;
    }

    #header nav ul li a i {
        display: none;
    }

    #welcome {
        justify-content: space-evenly;
    }

    #welcome h1 {
        margin-left: 32px;
    }

    #welcome .coffee-icon {
        width: 100%;
        font-size: 0;
    }

    #welcome .coffee-icon img {
        margin: 0;
    }

    #welcome p {
        display: none;
    }

    #welcome div:last-child {
        row-gap: 20px;
        align-content: flex-start;
        flex-direction: column;
        margin-left: 32px;
    }

    #our-coffee {
        padding: 24px;
    }

    #products {
        padding: 24px;
    }

    #find-a-store {
        padding: 24px;
    }

    #contact-us {
        padding: 24px;
    }
}